<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅游大数据可视化系统-Tourism Data Visualization</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    
    {% block stylesheet %}
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <style>
           #userDropList li{
               text-align: center;
           }
        </style>
    {% endblock %}
    {% block scriptblock %}
        
    {% endblock %}
</head>
<body class="home-template">
        <nav class="main-nav navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-links"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="padding: 11px;">
                        <svg class="octicon octicon-mark-github v-align-middle" id="logoSvg" height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-nav-links" style="margin-left: 100px">
                        <ul class="nav navbar-nav">
                                <li class="but-link">
                                    <a href="/" class="fa fa-home" role="button"> Home</a>
                                </li>
                                <li class="but-link">
                                    <a href="/track/" class="fa fa-shekel" role="button" aria-haspopup="true"> Track</a>
                                </li>
                                <li class="but-link">
                                    <a href="/characteristic/" class="fa fa-cubes" role="button" aria-haspopup="true"> Characteristic</a>
                                </li>
                            </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="but-link" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img id="user_avatar" src="{% static 'images/default.png' %}" style="margin-top:-6px;width:26px;height:26px">Admin
                                </a>
                                <ul class="dropdown-menu" id="userDropList"  style="min-width: 100px;">
                                        <li><a href="#setting"> Setting</a></li>
                                        <li><a href="{% url 'login' %}"> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- Page Contents -->
        {% block content %}
        {% endblock %}
        <footer class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">About</h4>
                            <div class="content recent-post">
                                <div class="recent-single-post">
                                    <a href="mailto:wenjguo@paypal.com;junldai@paypal.com" class="post-title"> Contact Us</a>
                                    <div class="date"></div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">Other Services</h4>
                            <div class="content tag-cloud">
                                <a href="http://go/bi" target="_blank">BI Portal</a>
                                <a href="http://go/lossy" target="_blank">Loss Triangle</a>
                                <a href="http://go/alert" target="_blank">Loss Alert</a>
                                <a href="http://go/s" target="_blank">Score Card</a>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </footer>
        {% block footerscript %}
            <script>
               console.log(11111)
            </script>
        {% endblock %}
        
        </body>
</html>